# ref: https://pnpm.io/it/npmrc#shamefully-hoist
# By default, pnpm creates a semistrict node_modules, meaning dependencies have access to undeclared dependencies but modules outside of node_modules do not. 
# With this layout, most of the packages in the ecosystem work with no issues. 
# However, if some tooling only works when the hoisted dependencies are in the root of node_modules, 
# you can set this to true to hoist them for you.
shamefully-hoist=true